@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<WebApplication2.seaq2_Result>

<meta charset="utf-8">

@{
    ViewBag.Title = " ";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Drivers_FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State_number)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Drivers_FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State_number)
            </td>
        </tr>
    }

</table>
