@model IEnumerable<WebApplication2.Automobile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Drivers_FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drivers_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engine_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body_number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Drivers_FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drivers_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Engine_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body_number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
